.cuerpo{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: monospace;
}
.imputable{
    background-color:transparent;
    background-color: rgb(123, 187, 236);
    border-radius: 10px; 
    height: 30;
    font-size: medium;

}
.tabla{ 
    border: 0;
    border-radius: 10px;
    background-color: rgb(73, 71, 71);
    font-size: medium;
    height: 500; 
    text-align:left;

    width:270;
}
.tdimput{
font-size:small;
font-family: monospace;



}
.psummit{

width: 100;
height: auto;
font-size: large;
background-color: rgb(73, 71, 71);
font-family: monospace;
color: rgb(255, 255, 255);

}
.imputnombre{
    
    background-color:transparent;
    background-color: rgb(123, 187, 236);
    border-radius: 10px; 
    height: 30;
    padding-left: 40;
    font-size: medium;
    background-image: url(user-solid\ .svg);
    background-repeat: no-repeat;
    background-position: 2%;

}
.imputape{
    background-color:transparent;
    background-color: rgb(123, 187, 236);
    padding-left: 40;
    border-radius: 10px; 
    height: 30;
    font-size: medium;
    background-image: url(user-solid\ .svg);
    background-repeat: no-repeat;
    background-position: 2%;


}
.imputemail{

    background-color:transparent;
    background-color: rgb(123, 187, 236);
    padding-left: 40;
    border-radius: 10px; 
    height: 30;
    font-size: medium;
    background-image: url(envelope-regular.svg);
    background-repeat: no-repeat;
    background-position: 2%;

}